// Primary Colors

$primary-text-color: #323232;
$primary-cta-color: #72e350;
$label-text-color: #afafaf;
$background-cta-color: #ffffff;

// Secondary Colors

$brainflix-primary-black: #ffffff;
$cta-hover-color: #0065ad;
$divider-color: #e1e1e1;
$secondary-background-color: #fafafa;

// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
