// Primary Colors

$primary-text-color: #ffffff;
$primary-cta-color: #72e350;
$label-text-color: #afafaf;
$background-cta-color: #ffffff;
$background-footer: rgb(177, 232, 146);
$navbar-hover: #3dff74;
$navbar-background: #ffffff35;
$primary-background-color: #ffffff;

$listing-outline: rgb(134, 234, 177);

// Secondary Colors

$brainflix-primary-black: #ffffff;
$cta-hover-color: #0065ad;
$divider-color: #e1e1e1;
$primary-background-color: #ffffff;
$secondary-text-color: rgb(0, 0, 0);
$button-background-color: #72e350;

// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
