@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem, 1rem;
  background-color: rgb(143, 192, 117);

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  @include desktop {
    margin: 0rem;
  }

  &__logo {
    width: 12rem;
    padding: 1rem;
    width: 100px;
    animation: rotation 15s infinite linear;
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }

    @include desktop {
      width: 12rem;
      padding: 1rem;
      margin-right: 19rem;
    }
  }

  &__searchbar {
    width: 100%;
    height: 3rem;
    border: 1.5px solid $divider-color;
    border-radius: 0.3rem;
    background-color: $secondary-background-color;
    background-image: url("../../assets/Icons/search.svg");
    padding-left: 4rem;
    padding-right: 2rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 5%;

    @include tablet {
      height: 3.2rem;
      margin-left: 2rem;
      width: 73%;
      padding-right: 0rem;
    }

    @include desktop {
      width: 80%;
      margin-right: 1rem;
    }
  }

  &__searchbar:focus {
    outline: 2px solid $primary-cta-color;
    border: none;
  }

  &__upload {
    background-color: rgb(154, 202, 154);
    margin: 1rem;
    padding: 0rem 1rem;
    text-decoration: none;
    color: $background-cta-color;
    width: 100%;
    border-radius: 0.3rem;
    font-weight: 700;
    font-size: 1rem;
    display: flex;

    @include tablet {
      font-size: 1rem;
      width: 87%;
      margin: 0rem;
    }

    @include desktop {
      width: 50%;
      margin-right: 2rem;
    }
  }

  &__upload--text {
    position: relative;
    left: 37%;

    @include tablet {
      left: 22%;
    }
  }

  &__upload--icon {
    display: flex;
    justify-content: flex-start;
  }

  &__avatar {
    width: 3.5rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-left: 1rem;
    border-radius: 50%;
    background-color: $divider-color;

    @include tablet {
      display: none;
    }
  }

  &__avatar--tablet {
    display: none;

    @include tablet {
      display: flex;
      width: 3.5rem;
      height: 3.2rem;
      border-radius: 50%;
      margin-left: 1rem;
    }
  }

  &__box {
    display: flex;
    width: 100%;
    align-items: center;

    @include desktop {
      justify-content: flex-end;
    }
  }
}
