@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  align-items: center;
  margin: 0rem, 1rem;
  background-image: url("../../assets/Images/matt-hanns-schroeter-YJuyTFWPjZU-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  height: 53rem;
  width: 100%;
  min-width: 25rem;

  @include tablet {
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 100%;
  }

  @include desktop {
    background-size: cover;
    background-position: center;
    height: 42rem;
    width: 100%;
  }
}

.header-button {
  color: $secondary-text-color;
  font-weight: 700;
  // position: absolute;
  // top: 20rem;
  // right: 4rem;
  background-color: $button-background-color;
  width: 10rem;
  text-align: center;

  font-size: 0.6rem;
  border-radius: 10px;
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $background-cta-color;
    color: $secondary-text-color;
  }
}

.header-container {
  display: flex;
}

.header-logo {
  width: 9.3rem;
  position: absolute;
  top: 5.5rem;
  left: 2.12rem;
  z-index: 0;
  // animation: rotation 27s infinite linear;
  // @keyframes rotation {
  //   from {
  //     transform: rotate(0deg);
  //   }
  //   to {
  //     transform: rotate(359deg);
  //   }
  // }

  @include tablet {
    top: 4rem;
    left: 22.6rem;
  }
  @include desktop {
    top: 6.2rem;
    left: 33rem;
    width: 10.3rem;
  }
}

.header-title {
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  font-size: 6rem;
  color: $primary-text-color;
  font-weight: 400;

  @include tablet {
    left: 25rem;
    top: 0rem;
  }

  @include desktop {
    left: 35rem;
    top: 0rem;
    font-size: 8rem;
  }
}

.hero-copy__container {
  display: flex;
  flex-direction: column;
  padding-top: 14rem;
  padding-left: 3rem;

  @include tablet {
    padding-left: 6rem;
  }
}

.header-copy {
  color: $primary-text-color;
  width: 20rem;
}

.header-subheader {
  color: $primary-text-color;
  font-size: 2rem;
}
