section {
  padding-bottom: 5rem;
}

.delete__button {
  background-color: white;
  border-radius: 5rem;
  border: none;
}

.delete-icon {
  width: 3rem;
  cursor: pointer;
}

.button__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
}
