@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 9rem;
  background: $navbar-background;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.2s ease-in-out;

  &-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.1rem;
    margin: 1rem;
  }

  &-icon span {
    display: block;
    width: 24px;
    height: 2px;
    background: $primary-text-color;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  &-icon.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &-icon.open span:nth-child(2) {
    opacity: 0;
  }

  &-icon.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  &.open {
    left: 0;

    z-index: 0;
  }

  & ul {
    list-style: none;
    text-align: center;
  }

  & ul li {
    margin: 1rem 0;
  }

  & ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-weight: 700;
  }

  & ul li a:hover {
    color: $navbar-hover;
  }
}
