@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  align-items: center;
  margin: 0rem, 1rem;
  background-image: url("../../assets/Images/matt-hanns-schroeter-YJuyTFWPjZU-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 100%;

  @include tablet {
    background-size: cover;
    background-position: center;
    height: 22rem;
    width: 100%;
  }

  @include desktop {
    background-size: cover;
    background-position: center;
    height: 22rem;
    width: 100%;
  }
}

.navbar-container {
  display: flex;
}

.navbar-image {
  width: 6.3rem;
  position: absolute;
  top: 4.8rem;
  left: 10.2rem;
  animation: rotation 27s infinite linear;
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @include tablet {
    width: 8rem;
    position: absolute;
    top: 7.1rem;
    left: 22.2rem;
  }
}

.navbar-title {
  position: absolute;
  margin-right: 5rem;
  font-size: 5rem;
  color: white;

  @include tablet {
    font-size: 7rem;
  }
}

.navbar-box {
  margin-left: 8rem;

  @include tablet {
    margin-left: 20rem;
  }
}
