@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.video {
  display: flex;
  margin: 0rem;

  @include tablet {
    justify-content: center;
    background-color: $brainflix-primary-black;
    z-index: 0;
  }

  &__content {
    width: 100%;
    margin: 0;
    z-index: 1;
    max-height: 40rem;
    padding: 0rem, 56.25%;
  }
}
