@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.aside {
  @include tablet {
    width: 31rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    z-index: 0;
    justify-content: center;

    @include tablet {
      margin: 0rem;
      width: 100%;
      justify-content: space-evenly;
      flex-direction: row;
    }

    @include desktop {
      margin: 0rem;
      width: 100%;
      justify-content: space-evenly;
      flex-direction: row;
    }
  }

  .aside__video.claimed {
    filter: grayscale(100%); // background-color: rgb(209, 209, 209);
  }

  .aside__button.claimed {
    background-color: rgb(0 0 0);
    color: white;
  }

  // &__header {
  //   font-size: 1.8rem;
  //   text-align: center;
  // }

  &__video {
    cursor: pointer;
    width: 20rem;
    height: 20rem;

    // padding: 0rem;
    // margin-left: 1rem;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    border-radius: 10%;
    // border: 3px solid rgb(134, 234, 177);
  }

  &__box {
    margin: 4rem;
    padding: 1rem;
    height: 33rem;
    // border: 1px solid rgb(134, 234, 177);
    border: 1px solid rgb(213, 211, 211);
    border-radius: 0.7rem;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(210, 210, 210);
    transition: transform 0.2s;
  }

  &__box:hover {
    transform: scale(1.1);
  }

  &__title {
    margin-left: 1.5rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    color: $secondary-text-color;
  }

  &__likes {
    display: flex;
    color: $secondary-text-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__location {
    padding: 0;
    margin: 0;
    color: $secondary-text-color;
    margin-left: 1.5rem;
  }
}

.aside__heart {
  width: 1rem;
}

.aside__map {
  width: 100%;
  height: 5rem;
}

.aside__button {
  background-color: $primary-background-color;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 600;
  height: 2rem;
}

.go4268192979 {
  height: 1px;
}

.aside__text {
  margin-top: 1.9rem;
  width: 23rem;
}

.aside__link {
  display: flex;
  justify-content: center;
}
